<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<error-page>
		<exception-type>java.lang.NullPointerException</exception-type> <!--要捕捉的异常类型-->
		<location>/500.jsp</location> <!--出现异常时，跳转的页面-->
	</error-page>
	
	<!-- 配置Spring的监听器，用于初始化ApplicationContext对象 -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath*:applicationContext*.xml</param-value>
	</context-param>

	<filter>
		<filter-name>struts2</filter-name>
		<filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
	</filter>
	<filter-mapping>
        <filter-name>struts2</filter-name>
        <url-pattern>*.action</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>struts2</filter-name>
        <url-pattern>*.do</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>struts2</filter-name>
        <url-pattern>*.jsp</url-pattern>
    </filter-mapping>
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>*.html</url-pattern>
	</filter-mapping>
	
	<servlet>  
        <servlet-name>coreServlet</servlet-name>  
        <servlet-class>  
            com.karuite.weixin.util.servlet.CoreServlet  
        </servlet-class> 
        <load-on-startup>0</load-on-startup> 
    </servlet>  
    <servlet-mapping>  
        <servlet-name>coreServlet</servlet-name>  
        <url-pattern>/coreServlet</url-pattern>  
    </servlet-mapping>
    
    <servlet>  
        <servlet-name>oauthServlet</servlet-name>  
        <servlet-class>  
            com.karuite.weixin.util.servlet.OAuthServlet  
        </servlet-class>  
    </servlet>  
    <servlet-mapping>  
        <servlet-name>oauthServlet</servlet-name>  
        <url-pattern>/oauthServlet</url-pattern>  
    </servlet-mapping>
    
    <servlet>
    <servlet-name>Log4jInit</servlet-name>
 		<servlet-class>com.karuite.weixin.action.Log4jInit</servlet-class>
  	    <init-param>
   			<param-name>log4j</param-name> <!--这个是名字是下边路径配置的标识（好像KEY一样）-->
   			<param-value>/WEB-INF/classes/log4j.properties</param-value> <!--这是容器初始化时候加载log4j配置文件的路径（这好像一个value）-->
 		 </init-param>
 	</servlet>
    
	
</web-app>
